body {
    margin: 0;
    font-style: Noto Sans Mono, sans-serif;
}
.container1{
    display: flex;
    height: 100vh;

}
.page1-left {
    display: flex;
    background-image:url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    flex-direction: column;
    justify-content: start;
    align-items: end;
    height: 100%;
    width: 50%;
}
.page1-left1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7.5%;
    height: 75%;
    width: 80%;
}
.page1-logo {
    height: 10%;
    width: 80%;
}
.page1-left2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: end;
    width: 100%;
    height: 90%;
}
.page1-spacing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}
.page1-info {
    text-align: right;
    width: 90%;
    height: 30%;
}
.parg1 {
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 0% 2%;
}
.parg2 {
    color: white;
    font-size: 35px;
}
.page1-text {
    color: white;
    text-align: right;
    width: 90%;
    font-size: 20px;   
}
.page1-btn {
    text-align: right;
    width: 90%;
    padding-top: 10pX;

}
.btn1 {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

.page1-right {
    display: flex;
    background-image:url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    height: 100%;
    width: 50%;
}
.icon {
    text-align: end;
    align-self: end;
}
.page1-spacing2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67%;
    align-items: end;
}
.page1-info2 {
    text-align: left;
    width: 90%;
    height: 30%;
}
.parg1-1 {
    color: black;
    background-color: white;
    padding: 0% 2%;
    font-size: 25px;
}
.page1-text2 {
    color: white;
    text-align: left;
    width: 90%;
    font-size: 20px;  
}
.page1-btn2 {
    text-align: left;
    width: 90%;
    padding-top: 10px;
}
.btn2 {
    background-color: white;
    color: black;
    text-decoration: none;
   padding: 15px 20px;


}
.container2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.page2-head {
    display: flex;
    flex-direction: column;
   
}